.sub-header{
   background-color: #3598d1;
   height:220px;
   text-align: center;
    .sub-header-text{
      margin-top: 40px;
      color: white;
      p{
         margin-top: 10px;
         font-size: 18px;
         letter-spacing: .05em;
      }
   }
}
.article-inner{
   margin-top: 60px;
   margin-bottom: 50px;
   .article-search-bar{
      margin: 25px 0px;
   }
   .shortcut-links{
      text-align: center;
      .year-link{
         font-size: 16px;
      }
      a{
         margin: 0px 10px;
      }
   }
   .article-box{
      margin-top: 10px;
      .article-link{
         margin-top: 25px;
         margin-bottom: 25px;
         p{
            font-size: 14px;
            text-transform: uppercase;
            line-height: normal;
         }
         a{
            line-height: normal;
            font-size: 20px;
            font-weight: 500;
         }
      }
   }
}