doctype html
html
   head
      include ./partials/head.jade  
   body
      include ./partials/header.jade
      include ./partials/portfolio.jade
      include ./partials/testimoni.jade
      include ./partials/footer.jade
      
      //Dont delete this line of code.
      script(src='js/main.js')
