doctype html
html
   head
      include ./partials/head.jade  
   body
      header.sub-header
         include ./partials/navbar.jade
         .sub-header-text
            h1 Testimonials
            p What Client Says About Me
      section
         .container
            .row
               .col-sm-10.col-md-8.col-lg-6.col-sm-offset-1.col-md-offset-2.col-lg-offset-3
                  .testimonial-inner
                     .row.testimonial-box
                        div
                           img.img-responsive(src='./files/icons/open_quote.png')
                        p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex.
                        h5 Lorem <span>Ipsum Dolor</span> Sit Amet
                     .row.testimonial-box
                        div
                           img.img-responsive(src='./files/icons/open_quote.png')
                        p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                        h5 Lorem Ipsum Dolor <span>Sit Amet</span>
                     .row.testimonial-box
                        div
                           img.img-responsive(src='./files/icons/open_quote.png')
                        p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in.
                        h5 Lorem Ipsum <span>Dolor Sit</span> Amet
                     .row.testimonial-box
                        div
                           img.img-responsive(src='./files/icons/open_quote.png')
                        p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ull
                        h5 Lorem Ipsum <span>Dolor Sit</span> Amet
                     .row.testimonial-box
                        div
                           img.img-responsive(src='./files/icons/open_quote.png')
                        p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                        h5 Lorem Ipsum <span>Dolor Sit</span> Amet
                     .row.testimonial-box
                        div
                           img.img-responsive(src='./files/icons/open_quote.png')
                        p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                        h5 Lorem Ipsum <span>Dolor Sit</span> Amet
                     .row.testimonial-box
                        div
                           img.img-responsive(src='./files/icons/open_quote.png')
                        p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation 
                        h5 Lorem Ipsum <span>Dolor Sit</span> Amet

      include ./partials/footer.jade
      
      //Dont delete this line of code.
      script(src='js/main.js')