
footer{
   background-color: #222222;
   color: aliceblue;
   .about-link{
      background-color: #3598d1;
      text-align: center;
      img{
         margin-left: 10px;
      }
   }
   .main-footer{
      margin-top: 80px;
      margin-bottom: 100px;
   }
   .copyright{
      text-align: center;
   }
}
