#mainNav{
   border: 0 !important;
   background-color: transparent;
   padding-top: 10px;
   a{
      color: white;
      p{
         font-size: 25px;
         margin-left: 15px;
      }
   }
   
   li{
      margin-left: 5px;
      font-size: 13px;
      text-transform: uppercase;
   }
}