@mixin imgbgroundcolor($url, $color ){
   height: 225px;
   background: url($url) center center;
   background-repeat: no-repeat;
   background-color: $color;
}
.no-gutter{
   padding: 0px;
   #work-1{
      @include imgbgroundcolor('../files/img/remixed.jpg', #020202);
   }
   #work-2{
      @include imgbgroundcolor('../files/img/css3foundations.jpg', #33363b);
   }
   #work-3{
      @include imgbgroundcolor('../files/img/petplate-logo.png', #fff);
   }
   #work-4{
      @include imgbgroundcolor('../files/img/sequence.png', #fff);
   }
   #work-5{
      @include imgbgroundcolor('../files/img/tigi-hairreborn.jpg', #020202);
   }
   #work-6{
      @include imgbgroundcolor('../files/img/socialaxis.png', #020202);
   }
   #work-7{
      @include imgbgroundcolor('../files/img/hover.jpg', #444444);
   }
   #work-8{
      @include imgbgroundcolor('../files/img/aflac.png', #fff);
   }
   #work-9{
      @include imgbgroundcolor('../files/img/cfc.jpg', #3d8d94);
   }
}
