.testimoni-inner{
	margin-top: 100px;
   margin-bottom: 80px;
	div{
		margin: 45px auto 15px;
		height: 40px;
		width: 40px;
	}
	p{
		text-align: justify;
	}
	h5{
		text-align: right;
      span{
         color: blueviolet;
      }
	}
}
