footer
   .container-fluid
      .row.about-link
         .col-xs-12
            h5 about me
               img(src='')
      .container.main-footer
         .col-xs-12.col-md-6.col-lg-4
            div#myimage.pull-left
            p. 
               Front-end Developer, graduating at Daffodil International University. Has more then 1 year of commercial experience in front-end development to produce high-quality wevsites and exceptional user experience.
            br
            p Front-end Developer.
            p Available March 2016. <a href='../hireme.html'>Hire Now >> </a>
         .col-xs-12.col-md-6.col-lg-4
            div#icon1.pull-left
            p. 
               Follow @HappyFace for web design & development articles, openions and links
            br
            div#icon1.pull-left
            p. 
               Follow @HappyFace for web design & development articles, openions and links
            br
            div#icon1.pull-left
            p. 
               Follow @HappyFace for web design & development articles, openions and links
         .col-xs-12.col-md-6.col-lg-4
            p.nav-link
               a(href='') About
            p Learn about my skills and workflow
            p.nav-link
               a(href='') Portfolio
            p View my front-end development work

            p.nav-link
               a(href='') Testimonials
            p Read client recommendations

            p.nav-link
               a(href='') Articles
            p Read web related articles, opinions & tutorials

            p.nav-link
               a(href='') Contact
            p Send a general message

            p.nav-link
               a(href='') Hire Me
            p Enquire about hiring me
               
   .row.copyright
      .col-xs-12
         p Unless otherwise stated, content is copyright @ 2016 Happy Face and code samples are licensed under MIT.