header.hero-unit
   include navbar.jade
   .hero-text
      h1 Responsive Front-end Development
      p HTML5 . CSS3 . JavaScript . SASS . JADE

      h3 View portfolio
      span.glyphicon.glyphicon-chevron-down(area-hidden='true')