section#portfolio.no-padding
  .container-fluid
    .row
      .col-lg-4.col-sm-6.col-xs-12.no-gutter
         div#work-1.work-item
            .portfolio-box-caption
               .portfolio-box-caption-content
                  a(href='#')
                     i.fa.fa-github.fa-3x
                  a(href='#')
                     i.fa.fa-play-circle.fa-3x
      .col-lg-4.col-sm-6.col-xs-12.no-gutter
         div#work-2.work-item
            .portfolio-box-caption
               .portfolio-box-caption-content
                  a(href='#')
                     i.fa.fa-github.fa-3x
                  a(href='#')
                     i.fa.fa-play-circle.fa-3x
      .col-lg-4.col-sm-6.col-xs-12.no-gutter
         div#work-3.work-item
            .portfolio-box-caption
               .portfolio-box-caption-content
                  a(href='#')
                     i.fa.fa-github.fa-3x
                  a(href='#')
                     i.fa.fa-play-circle.fa-3x
      .col-lg-4.col-sm-6.col-xs-12.no-gutter
         div#work-4.work-item
            .portfolio-box-caption
               .portfolio-box-caption-content
                  a(href='#')
                     i.fa.fa-github.fa-3x
                  a(href='#')
                     i.fa.fa-play-circle.fa-3x
      .col-lg-4.col-sm-6.col-xs-12.no-gutter
         div#work-5.work-item
            .portfolio-box-caption
               .portfolio-box-caption-content
                  a(href='#')
                     i.fa.fa-github.fa-3x
                  a(href='#')
                     i.fa.fa-play-circle.fa-3x
      .col-lg-4.col-sm-6.col-xs-12.no-gutter
         div#work-6.work-item
            .portfolio-box-caption
               .portfolio-box-caption-content
                  a(href='#')
                     i.fa.fa-github.fa-3x
                  a(href='#')
                     i.fa.fa-play-circle.fa-3x
      .col-lg-4.col-sm-6.col-xs-12.no-gutter
         div#work-7.work-item
            .portfolio-box-caption
               .portfolio-box-caption-content
                  a(href='#')
                     i.fa.fa-github.fa-3x
                  a(href='#')
                     i.fa.fa-play-circle.fa-3x
      .col-lg-4.col-sm-6.col-xs-12.no-gutter
         div#work-8.work-item
            .portfolio-box-caption
               .portfolio-box-caption-content
                  a(href='#')
                     i.fa.fa-github.fa-3x
                  a(href='#')
                     i.fa.fa-play-circle.fa-3x
      .col-lg-4.col-sm-6.col-xs-12.no-gutter
         div#work-9.work-item
            .portfolio-box-caption
               .portfolio-box-caption-content
                  a(href='#')
                     i.fa.fa-github.fa-3x
                  a(href='#')
                     i.fa.fa-play-circle.fa-3x
