section#portfolio.no-padding
  .container-fluid
    .row
      a.portfolio-box(href='#').work-1.col-lg-4.col-sm-6.col-xs-12.no-gutter
         div#work-1
            .portfolio-box-caption
               .portfolio-box-caption-content
                  .project-category.text-faded
                     | Category
                  .project-name
                     | Project Name
      a.portfolio-box(href='#').work-1.col-lg-4.col-sm-6.col-xs-12.no-gutter
         div#work-2
            .portfolio-box-caption
               .portfolio-box-caption-content
                  .project-category.text-faded
                     | Category
                  .project-name
                     | Project Name
      a.portfolio-box(href='#').work-1.col-lg-4.col-sm-6.col-xs-12.no-gutter
         div#work-3
            .portfolio-box-caption
               .portfolio-box-caption-content
                  .project-category.text-faded
                     | Category
                  .project-name
                     | Project Name
      a.portfolio-box(href='#').work-1.col-lg-4.col-sm-6.col-xs-12.no-gutter
         div#work-4
            .portfolio-box-caption
               .portfolio-box-caption-content
                  .project-category.text-faded
                     | Category
                  .project-name
                     | Project Name
      a.portfolio-box(href='#').work-1.col-lg-4.col-sm-6.col-xs-12.no-gutter
         div#work-5
            .portfolio-box-caption
               .portfolio-box-caption-content
                  .project-category.text-faded
                     | Category
                  .project-name
                     | Project Name
      a.portfolio-box(href='#').work-1.col-lg-4.col-sm-6.col-xs-12.no-gutter
         div#work-6
            .portfolio-box-caption
               .portfolio-box-caption-content
                  .project-category.text-faded
                     | Category
                  .project-name
                     | Project Name
      a.portfolio-box(href='#').work-1.col-lg-4.col-sm-6.col-xs-12.no-gutter
         div#work-7
            .portfolio-box-caption
               .portfolio-box-caption-content
                  .project-category.text-faded
                     | Category
                  .project-name
                     | Project Name
      a.portfolio-box(href='#').work-1.col-lg-4.col-sm-6.col-xs-12.no-gutter
         div#work-8
            .portfolio-box-caption
               .portfolio-box-caption-content
                  .project-category.text-faded
                     | Category
                  .project-name
                     | Project Name
      a.portfolio-box(href='#').work-1.col-lg-4.col-sm-6.col-xs-12.no-gutter
         div#work-9
            .portfolio-box-caption
               .portfolio-box-caption-content
                  .project-category.text-faded
                     | Category
                  .project-name
                     | Project Name
