section#portfolio.no-padding
  .container-fluid
    .row
      .col-lg-4.col-sm-6.col-xs-12.no-gutter
        a.portfolio-box(href='#')
          .portfolio-box-caption
            .portfolio-box-caption-content
              .project-category.text-faded
                | Category
              .project-name
                | Project Name
      .col-lg-4.col-sm-6.col-xs-12.no-gutter
        a.portfolio-box(href='#')
          .portfolio-box-caption
            .portfolio-box-caption-content
              .project-category.text-faded
                | Category
              .project-name
                | Project Name
      .col-lg-4.col-sm-6.col-xs-12.no-gutter
        a.portfolio-box(href='#')
          .portfolio-box-caption
            .portfolio-box-caption-content
              .project-category.text-faded
                | Category
              .project-name
                | Project Name
      .col-lg-4.col-sm-6.col-xs-12.no-gutter
        a.portfolio-box(href='#')
          .portfolio-box-caption
            .portfolio-box-caption-content
              .project-category.text-faded
                | Category
              .project-name
                | Project Name
      .col-lg-4.col-sm-6.col-xs-12.no-gutter
        a.portfolio-box(href='#')
          .portfolio-box-caption
            .portfolio-box-caption-content
              .project-category.text-faded
                | Category
              .project-name
                | Project Name
      .col-lg-4.col-sm-6.col-xs-12.no-gutter
        a.portfolio-box(href='#')
          .portfolio-box-caption
            .portfolio-box-caption-content
              .project-category.text-faded
                | Category
              .project-name
                | Project Name
      .col-lg-4.col-sm-6.col-xs-12.no-gutter
        a.portfolio-box(href='#')
          .portfolio-box-caption
            .portfolio-box-caption-content
              .project-category.text-faded
                | Category
              .project-name
                | Project Name
      .col-lg-4.col-sm-6.col-xs-12.no-gutter
        a.portfolio-box(href='#')
          .portfolio-box-caption
            .portfolio-box-caption-content
              .project-category.text-faded
                | Category
              .project-name
                | Project Name
      .col-lg-4.col-sm-6.col-xs-12.no-gutter
        a.portfolio-box(href='#')
          .portfolio-box-caption
            .portfolio-box-caption-content
              .project-category.text-faded
                | Category
              .project-name
                | Project Name
     